* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Chakra Petch';
    font-size: 16px;
    color: rgba(17,0,56,1);
    font-style: normal;
}
a {
    text-decoration: none;
}
body {
    width: 1438px;
    margin-left: auto;
    margin-right: auto;
    background-color: #110038;
}
.titleBar {
    width: 1438px;
    height: 23px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    box-shadow: 0 1px 0 0 #110038;
    display: flex;
    align-items: center;
    .titleBar-text {
        font-family: ChakraPetch-Regular;
        font-size: 12px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-left: 0.5%;
    }
}
.image-logo {
    width: 102px;
    height: 64px;
}
.navindex {
    width: 1206.5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
}
.right-nav-container {
    display: flex;
    align-items: center;
    #button-href {
    text-decoration: none;
   .create-guifos {
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        margin-right: 16px;
        height: 36px;
        width: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 18px;
    }
    .create-guifos:hover {
        background: #CE36DB;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;   
        outline: 2px dotted #110038;
        outline-offset: -2px;
    }
}
.theme_selector_button {
    display: flex;
    position: relative;
    z-index: 1;
    }
}
.left_selector_button {
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        z-index: 5;    
        height: 36px;
        width: 131px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 18px;
    }
    .right_selector_button {
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        height: 36px;
        width: 36px;
        display: flex;
        align-items: center;
        justify-content: center;   
        #arrow {
            color: white;
        }
    }
.theme_selector_button:hover > .left_selector_button {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.theme_selector_button:hover > .right_selector_button {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.left_selector_button:focus {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.left_selector_button:focus ~ .right_selector_button{
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.right_selector_button:focus {
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.right_selector_button:focus ~ .left_selector_button{
    background: #CE36DB;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -3px;   
}
.right_selector_button:focus ~ .dropdown-theme {
    transform: translate(0px, 36px);
}
.left_selector_button:focus ~ .dropdown-theme {
    transform: translate(0px, 36px);
}
.dropdown-theme  {
    position: absolute;
    display: none;
    width: 170px;
    height: 102px;
    background: #B4B4B4;
    transform: translate(0px, 36px);
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.dropdownContent {
    width: 150px;
    height: 36px;
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
}
.dropdownContent:hover {
    width: 150px;
    height: 36px;
    background: #2E32FB 100%;
    border: 1px solid rgba(51,53,143,0.20);
    box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
}
.dropdownContent:hover::first-letter {
    text-decoration: underline;
}
.displaynone {
    display: none;
}
.displayflex {
    display: flex;
}
.displayblock {
    display: block;
}
.hidden {
    visibility: hidden;
}
.button-href {
    text-decoration: none;
}
.misGuifos {
    margin-top: 78px;
}
.mis-guifos {
    margin-left:16.5px ;
    color: #FFFFFF;
}
.mis-guifos:hover{
    outline: 2px dotted #FFFFFF;
    outline-offset: 5px;
}
.mis-guifos:hover::first-letter {
    text-decoration: underline;
}
.search-container-gral {
    background: #B4B4B4 100%;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    width: 1200px;
    height: 99px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    margin-bottom: 64px;
    z-index: 1;
}
.search-title-bar {
    width: 1194px;
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    display: flex;
    align-items: center;
    p{
        margin-left: 3px;
        font-family: 'Chakra Petch', sans-serif;
        font-size: 14px;
        font-weight: 700;
        color: #FFFFFF;
        letter-spacing: 0;
    }
}
.search-input-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 12px;
}
.search-input {
    width: 1057px;
    height: 48px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
input[type="text"] {
    padding-left: 10px;
}
.search-button {
    display: flex;
    width: 102px;
    height: 36px;
    background: #B4B4B4 100%;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
        img {
            width: 16px;
            height: 16px;
            }
        p {
    
            color: #8F8F8F;
            letter-spacing: 0;
            line-height: 18px;
            }
}
.search-button-active {
    display: flex;
    width: 102px;
    height: 36px;
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
    outline: 2px dotted #110038;
    outline-offset: -4px;
        img {
            width: 16px;
            height: 16px;
            }
        p {
            color: #110038;
            letter-spacing: 0;
            line-height: 18px;
            }
}
.search-button-ready {
    display: flex;
    width: 102px;
    height: 36px;
    background: #CE36DB 100%;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    justify-content: space-evenly;
    align-items: center;
        img {
            width: 16px;
            height: 16px;
            }
        p {
            color: #FFFFFF;
            letter-spacing: 0;
            line-height: 18px;
            }
}
.search-bottom-container {
    display: flex;
    flex-direction: column;
    width: 1200px;
    height: 160px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
    justify-content: space-evenly;
    position: relative;
    z-index: 1;
}
.suge-container {
    display: flex;
    margin-top: 20px;
  
}
.suge {
    display: flex;
    background: #CE36DB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
    color: #FFFFFF;
    height: 34px;
    margin-right: 8px;
    justify-content: center;
    align-items: center;
    padding: 0 8px 0 8px;
}
.input-sugerido {
    width: 1057px;
    height: 36px;
    background: #CCCCCC;
    border: 1px solid #808080;
    box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
    margin-left: 15px;
}
.input-sugerido:hover {
    outline: 1px dotted #000000;
    outline-offset: -2px;
}
.sub-temas {
    display: flex;
    width: 1200px;
    height: 36px;
    background: #FFFAFE;
    border: 1px solid #E6BBE2;
    box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #80687D;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 16px;
    p {
        padding-left: 7px;
        font-size: 14px;
        color: #110038;
    }
}
.sugeridos-main-container {
    width: 1200px;
    height: 350px;
    display: flex;
    margin-top: 19px;   
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.gifContainer{
    height: 313px;
    width: 288px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #5C5C5C, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.gifBar {
    width: 280px;
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;   
        .gifTitle {
            font-size: 14px;
            color: #FFFFFF;
            letter-spacing: 0;
            font-weight: bold;
    }
}
.button-ver-mas-container {
    width: 81px;
    height: 34px;
    background: #2E32FB;
    border: 1px solid #4C2F99;
    box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
    position: relative;
    transform: translate(-80px, -50px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.button-ver-mas-container:hover {
    background: #2629CC 100%;
    outline: 2px dotted #110038;
    outline-offset: -2px;
}
.buttonVerMasLink {
    text-decoration: none;
}
.ptext {
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 0;
    line-height: 18px;
}
.gifImage {
    background-image: url("/gifos/assets/media/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    
}
.gifVideo {
    background-image: url("/gifos/assets/media/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
    
    height: 280px;
    width: 280px;
    padding: 2px;
}
.gifVideo:hover {
    outline: 2px dotted #110038;
    outline-offset: -3px;
}

.tendencias-main-container {
    max-width: 1200px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;   
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}

.gifContainerTendencias {
    background-image: url("/assets/media/loading.gif");
    background-position: center;
    background-repeat: no-repeat;
   display: flex;
   flex-direction: column;
   position: relative;
   margin-bottom: 10px;
}

.gifContainerTendencias:hover {
    outline: 2px dotted #110038;
    outline-offset: -3px;
    z-index: 1;
    position: relative;
}
.gifVideoTendencias:hover ~ .gifBarTendencia {
    width: 282px;
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
   transform: translate(2px, 272px);
    
}   
.gifVideoTendenciasLarge {
    width: 592px;
    height: 298px;   
} 
    .gifVideoTendenciasLarge:hover ~ .gifBarTendencia {
        width: 588px;
        height: 24px;
        background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
        display: inline-flex;
        justify-content: space-between;
        align-items: center;
        position: absolute;
       transform: translate(2px, 272px);
        
      
}
.gifVideoTendenciasLarge {
    width: 592px;
    height: 298px;   
}
.gifVideoTendencias{
    width: 288px;
    height: 298px;
}
.gifBarTendencia {
   display: none;
   width: 100%;  
   height: 20px;
   p {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        font-weight: bold;
   }
}


#searched-main-container-id {
    max-width: 1200px;
    height: 350px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 19px;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
// Archivo mis gifos
.navgifos {
    
    width: 1206.5px;
    max-height: 71px;
    display: flex;
    align-items: center;
    margin-right: auto;
    margin-top: 35px;
}
.navgifos::before {
    content: "";
    display: flex;
    background: url("./assets/media/arrow.svg") no-repeat;
    width: 24px;
    height: 24px;
    float: left;
    margin: 0 14px 0 80px;
}
.crearGifosContainer {
    width: 684px;
    height: 378px;
    display: flex;
    flex-direction: column;
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 75px;
    margin-bottom: 153px;
    background: #B4B4B4 100%;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;   
}
.crearGuifosTitle {
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    display: flex;
    align-items: center;
    p {
        font-size: 14px;
        color: #FFFFFF;
        letter-spacing: 0;
        margin-left: 4px;
        font-weight: bold;
    }
}
.crearGuifosSubContainer {
    display: flex;
    margin-top: 30px;
    margin-left: 25px;
    p {
        margin-left: 15px;
        font-size: 16px;
        color: #110038;
        letter-spacing: 0;
        line-height: 22px;
        font-weight: bold;
    }
}
.crearGuifosList {
    margin-top: 20px;
    ul {
        list-style: none;
        margin-left: 73px;
        max-width: 518px;
        li{
            font-family: ChakraPetch-Regular;
            font-size: 14px;
            color: #110038;
            letter-spacing: 0;
            line-height: 20px;
            margin-bottom: 9px;
        }
    }
}
.bold {
    font-weight: bold;
    font-style: italic;
    font-size: 14px;
    }
.crearGuifosBotonera {
    display: flex;
    justify-content:flex-end;
    margin-top: 10px;
    padding-right: 20px;
}
.start-capture {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    margin-right: 16px;
    height: 36px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
    color: #FFFFFF;
}
.start-capture:hover {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.cancelButton {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    color: #FFFFFF;
    margin-right: 16px;
    height: 36px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
}
.cancelButton:hover {
    background: #110038;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    outline: 2px dotted #110038;
    outline-offset: -3px;
}
.capturing {
    display: none;
}
.capturing_container {
    width: 860px;
    height: 548px;
    margin-left: auto;
    margin-right: auto;
    background: #B4B4B4 100%;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
}
.capturing_bar_container {  
    display: flex;
    height: 24px;
    background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
    justify-content: space-between;
    align-items: center;
    margin: 3px;
    p{
        color: #FFFFFF;
        font-size: 14px;
        font-weight: bold;
        margin-left: 3px;
    }
    img {
        margin-right: 4px;
    }
}
.camara {
    width: 838px;
    height: 440px;
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 17px ;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    display: flex;
    justify-content: center;
}
.button_capturar_container {
    display: flex;
    justify-content: space-between;
}
.counter {
    display: flex;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    width: 124px;
    height: 36px;
    margin-left: 11px;
    align-items: center;
    justify-content: center;
}
.botoncontainer {
    display: flex;
}
.cam_image {   
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 36px;
        width: 36px;
        .camarita {
            margin-left: auto;
            margin-right: auto;
            width: 18px;
            height: 16.5px;
        }
}
.button_capturar_start {
        background: #EE3EFE;
        border: 1px solid #110038;
        box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
        color: #FFFFFF;
        margin-right: 16px;
        height: 36px;
        width: 144px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        line-height: 18px;
}
.button_capturar_capturing {
    background-color: #FF6161;
}
.button_capturar_container:hover > .cam_image {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;  
    outline: 2px dotted #110038;
    outline-offset: -4px;
}
.button_capturar_container:hover > .button_capturar_start {
    background: #E6BBE2;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #997D97, inset 1px 1px 0 0 #FFFFFF;
    outline: 2px dotted #110038;
    outline-offset: -4px;
}
//Subiendo guidos
.subiendo_container {
    width: 838px;
    height: 440px;
    margin-top: 11px;
    margin-left: 11px;
    margin-right: 17px ;
    margin-bottom: 24px;
    background-color: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon_globe {
    
    height: 48px;
    margin-bottom: 8px;
}
.uploading_text{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 39px;   
}
.load_bar_container{
    width: 324px;
    height: 24px;
    display: flex;
    flex-wrap: wrap;
    background: #B4B4B4;
    box-shadow: inset 2px 2px 0 0 #FFFCFC, inset -2px -2px 0 0 #000000;
    margin-bottom: 10px;
}
.load_bar_member {
    width: 14.7px;
    height: 20px;
    background: #999999;
    border-right: 1px ghostwhite solid;
    transform: translateY(2px);
}
.load_bar_member_selected {
    width: 14.7px;
    height: 20px;
    background: #EE3EFE;
    border-right: 1px ghostwhite solid;
    transform: translateY(2px);
}
.time_remaining {
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}
.text-tach{
    text-decoration: line-through;
    font-size: 12px;
    color: rgba(17,0,56,0.64);
    letter-spacing: 0;
    text-align: center;
    line-height: 14px;
}
.cancelcontainer {
    display: flex;
    justify-content: flex-end;
}
.preview {
    width: 640px;
    height: 435px;
    transform: translateY(2px);
}

.guifo_success_container {
    width: 721px;
    height: 391px;
    background: #B4B4B4;
    box-shadow: inset -2px -2px 0 0 #B4B4B4, inset 2px 2px 0 0 #FFFFFF;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}
.guifo_success_sub_container {
    display: flex;
    justify-content: space-around;
    margin-top: 21px;
}
.guifo_success_image {
    width: 365px;
    height: 191px;
    background: #FFFFFF;
    border: 1px solid #979797;
    box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}
.guifo_success_botonera {
display: flex;
flex-direction: column;
    p {
        font-weight: bold;
        font-size: 16px;
        color: #FFFFFF;
        letter-spacing: 0;
        line-height: 22px;
        margin-bottom: 16px;
        margin-top: 24px;
    }
}
.guifo_success_button {
    width: 256px;
    height: 36px;
    background: #110038;
    color: #FFFFFF;
    border: 1px solid #B4B4B4;
    box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.guifo_success_button:hover {
    outline: 2px dotted #000000;
    outline-offset: -2px;
   
}
.guifo_success_button_listo {
    background: #EE3EFE;
    border: 1px solid #110038;
    box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
    color: #FFFFFF;
    margin-top: 64px;
    height: 36px;
    width: 144px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 18px;
    margin-left: 531px; //
}
.guifo_success_button_listo:hover {
    outline: 2px dotted #110038;
    outline-offset: -2px;
}